@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


h1 {
    border-style: solid
}   
.text {
    background-color: #072779;
    color: #ffffff;
    border-radius: 50px;
}

body{
    font-family: 'Poppins', sans-serif;
    
}
.container{
    max-width: 1170px;
    margin: auto;
}
.at{
    margin-top: 50%;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    margin-left: 20%;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.cards{
    background-color: #24262b;
    width: 600px;
    height: 400px;
    display: inline-block;
    margin-left: 5%;
    border-radius: 50px;
    box-shadow: 10px 20px 30px gray;
}
.cards > img{
    width: 600px;
    height: 400px;
    display: inline-block;
    border-radius: 50px;
   
}
.cards > button{
    width: 600px;
    border-radius: 50px;
    box-shadow: 10px 20px 30px gray;
}